---
---
@import "mixins/flexbox";
@import "mixins/columns";
@import "variables";

$brand-color: {{ site.colors.primary }};
$secondary-brand-color: {{ site.colors.secondary }};
$middle-gradient-color: mix($brand-color, $secondary-brand-color, 95%);

@import "elements";
@import "landing-page";
@import "layout";
@import "pricing";
@import "staff";
@import "contact";
@import "blog";
@import "forms";
@import "navigation";
@import "footer";
@import "cloudcannon";
